/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 75vh;
  
  background-size: cover;
  background: var(--black);
  padding: 0 15px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 80px;
  font-weight: 700;
  line-height: 56px;

  color: var(--white);
  margin-bottom: 50px;
}

#hero h2 {
  opacity: .7;
  margin-bottom: 10px;

  color: var(--white);
  font-size: 26px;
  font-weight: 300;
}

#hero .btn-get-started {
  transition: 0.5s;
  height: 70px;

  color: var(--white);
  font-size: 70px;
}

#hero .btn-get-started:hover {
  padding-top: 10px;
  color: var(--bs-primary);
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 20px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}


h1 {
  border-right: 2px solid #777;
  padding-right: 1rem;
  animation: cursor .9s infinite steps(2);
}

@keyframes cursor {
  from { border-right: 2px solid #222; }
  to { border-right: 2px solid #777; }
}


